.slide--layout-carousel{

}

.slide--layout-carousel .slideChildrenContainer {
    padding: 1rem;
}
.slide--layout-carousel .sliderTrack--carousel {
    margin-top: 3rem;
}
.paginationDotsContainer {
    margin: 1rem;
}