.departmentLink {
    color: white;
}
.firstLevelLink {
    color: white;
}
.secondLevelLink {
    color: #848484; ;
}
.flexRow--main-header-mobile .sidebarItemContainer {
    color: white;
}
.sidebarItemContainer{
    color:white;
}