.paragraph--title-home {
    color: white;
}
.paragraph--title-products {
    color: white;
    margin: 5rem 0rem 0rem 0rem;

}
.wrapper--text-title{
    color: #F88700;
}

.wrapper--text-subtitle{
    color: white;
}